

.footer {
    background: linear-gradient(180deg, rgba(184, 218, 228, .16), rgba(184, 218, 228, .4));
    padding-top: 0
}

@media only screen and (min-width:62rem) {
    .footer {
        padding-top: 9.75rem
    }
}

.footer__top {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2.25rem 2.25rem;
    margin-bottom: 2.5rem;
    padding-top: 3.5rem
}

.footer-copyright__text{
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 5px;
}


@media only screen and (min-width:48rem) {
    .footer__top {
        display: grid;
        grid-template-columns: 5rem 8.125rem 1fr;
        margin-bottom: 3.5rem;
        grid-row-gap: 0;
        row-gap: 0
    }
}

.footer__menu {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem
}

@media only screen and (min-width:62rem) {
    .footer__menu {
        margin-bottom: 1.125rem
    }
}

.footer .footer-logo {
    flex: 1
}

@media only screen and (min-width:62rem) {
    .footer .footer-logo {
        flex: auto
    }
}

.footer .social-links {
    width: 100%
}

@media only screen and (min-width:62rem) {
    .footer .social-links {
        margin-left: auto;
        width: auto
    }
}

.brands-logo__items {
    align-items: center;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    display: flex;
    flex-wrap: wrap
}

.brands-logo__item {
    align-items: center;
    display: flex;
    justify-content: center
}

.footer-copyright {
    background-color: rgba(184, 218, 228, .4)
}

.footer-copyright__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    row-gap: 1rem
}

.footer-copyright__wrapper .menu {
    align-items: center;
    color: #002d39;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    display: flex;
    font-size: .75rem;
    line-height: 1.2
}

.footer-copyright__wrapper .menu__item {
    list-style: none;
    margin-bottom: 0
}

.footer-copyright__wrapper .menu__item a {
    color: #0a142f;
    line-height: 1.2;
    -webkit-text-decoration: none;
    text-decoration: none
}

@media only screen and (min-width:62rem) {
    .footer-copyright__wrapper {
        flex-direction: row;
        row-gap: 0
    }
}

.footer__menu-heading {
    display: none
}

@media only screen and (min-width:62rem) {
    .footer__menu-heading {
        color: #002d39;
        color: #007c9d;
        display: inline-block;
        display: block;
        font-family: Figtree, sans-serif;
        font-size: .875rem;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: .5rem
    }
}



.menu__item {
    list-style-type: none;
    margin: 0
}

.menu__item--expanded {
    margin-bottom: 1.5rem
}

@media only screen and (min-width:62rem) {
    .menu__item--expanded {
        margin-bottom: .75rem
    }
}

.menu__item span {
    font-weight: 700;
    margin-bottom: .5rem
}

.menu__item a,
.menu__item span {
    color: #002d39;
    display: inline-block;
    font-family: Figtree, sans-serif;
    font-size: .75rem;
    line-height: 1.84
}

.menu__item a {
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none
}

.footer__bottom--wrapper .menu__item a {
    color: #002d39;
    color: #000;
    display: inline-block;
    font-family: Figtree, sans-serif;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.5
}

.footer-menu-wrapper>.block>.block__content ul {
    list-style: none
}

.footer-menu-wrapper>.block>.block__content ul .menu__item {
    list-style: none;
    margin: 0
}

.footer-menu-wrapper>.block>.block__content ul .menu__item a,
.footer-menu-wrapper>.block>.block__content ul .menu__item span {
    color: #002d39;
    display: inline-block;
    font-size: .75rem;
    line-height: 1.84;
    -webkit-text-decoration: none;
    text-decoration: none
}

@media only screen and (min-width:62rem) {

    .footer-menu-wrapper>.block>.block__content ul .menu__item a,
    .footer-menu-wrapper>.block>.block__content ul .menu__item span {
        line-height: 1rem
    }
}

.footer-menu-wrapper>.block>.block__content ul .menu__item span {
    font-weight: 700
}

.footer-menu-wrapper>.block>.block__content ul .menu__item a:hover {
    color: #007c9d
}

.footer-menu-wrapper>.block>.block__content .menu.level-0 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.375rem;
    gap: 2.375rem
}

.footer-menu-wrapper>.block>.block__content .menu.level-0>li>span {
    color: #007c9d;
    display: inline-block;
    display: block;
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: .5rem
}

@media only screen and (min-width:75rem) {
    .footer-menu-wrapper>.block>.block__content .menu.level-0 li:nth-of-type(3) {
        grid-column: 3/5
    }

    .footer-menu-wrapper>.block>.block__content .menu.level-0 li:nth-of-type(3) .menu.level-1 {
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem
    }

    .footer-menu-wrapper>.block>.block__content .menu.level-0 li:nth-of-type(3) .menu.level-1>li {
        -moz-column-break-inside: avoid;
        break-inside: avoid-column
    }

    .footer-menu-wrapper>.block>.block__content .menu.level-0 li:nth-of-type(4) {
        grid-column: 5/7
    }

    .footer-menu-wrapper>.block>.block__content .menu.level-0 li:nth-of-type(4) .menu.level-1 {
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem
    }

    .footer-menu-wrapper>.block>.block__content .menu.level-0 li:nth-of-type(4) .menu.level-1>li {
        -moz-column-break-inside: avoid;
        break-inside: avoid-column
    }
}

@media only screen and (min-width:62rem) {
    .footer-menu-wrapper>.block>.block__content .menu.level-0 {
        grid-template-columns: repeat(4, 1fr)
    }
}

@media only screen and (min-width:75rem) {
    .footer-menu-wrapper>.block>.block__content .menu.level-0 {
        gap: 1.5rem;
        grid-template-columns: repeat(6, 1fr)
    }
}

.footer-menu-wrapper>.block>.block__content .menu.level-1>li>span {
    color: #002d39;
    display: inline-block;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.84;
    margin-bottom: .25rem
}

.footer-menu-wrapper .footer-menu-item.no-heading .footer__menu-heading {
    visibility: hidden
}

.footer-menu-wrapper .footer-menu-item .menu__item span {
    line-height: 1.3125rem;
    margin-bottom: .5rem
}

@media only screen and (min-width:62rem) {
    .footer-menu-wrapper .footer-menu-item .menu__item span {
        line-height: 1.84;
        margin-bottom: .75rem
    }
}

.footer-menu-wrapper .footer-menu-item .menu__item a {
    line-height: 1.84
}

@media only screen and (min-width:62rem) {
    .footer-menu-wrapper .footer-menu-item .menu__item a {
        line-height: 1rem
    }
}

.footer-menu-wrapper .footer-menu-item .menu__item.menu__item--expanded span {
    margin-bottom: .25rem
}

@media only screen and (min-width:90rem) {
    .footer-menu-wrapper .footer-menu__item {
        white-space: nowrap
    }
}



.request-callback__right.footer-item {
    grid-column: 3;
    margin: 1.5rem auto 0
}

@media only screen and (min-width:48rem) {
    .request-callback__right.footer-item {
        margin: 1.5rem 0 0 auto
    }
}

.request-callback__right.footer-item .request-callback__download {
    display: block;
    text-align: center
}

@media only screen and (min-width:48rem) {
    .request-callback__right.footer-item .request-callback__download {
        text-align: right
    }
}

.request-callback__right.footer-item .request-callback__app a:not(:first-of-type) {
    margin-left: 1rem
}