<!--Footer Mneu start-->
<div  class="container-fluid">
    <div  class="footer__menu">
        <div  class="footer-menu-wrapper">
            <div  id="block-apollo-footernavigation"
                class="block block--menu-item-fields block--menu-item-fieldsmain">
                <div  class="block__content">
                    <ul  class="menu level-0">
                        <li  class="menu__item menu__item--expanded discover-apollo"><span
                                >Discover SPS</span>
                            <ul  class="menu level-1">
                                <li 
                                    class="menu__item menu__item--expanded the-apollo-story"><span
                                        >The SPS Story</span>
                                    <ul  class="menu level-2">
                                        <li  class="menu__item overview"><a>Overview</a></li>
                                        <li  class="menu__item vision--mission"><a>Vision &amp; Mission</a></li>
                                        <li  class="menu__item apollo-anthem"><a>SPS Anthem</a></li>
                                        <li  class="menu__item leadership-"><a>Leadership </a></li>
                                        <li  class="menu__item our-group-brands"><a>Our Group Brands</a></li>
                                        <li  class="menu__item awards--accolades"><a>Awards &amp; Accolades</a>
                                        </li>
                                        <li  class="menu__item alliances"><a>Alliances</a></li>
                                        <li  class="menu__item achievements--milestones"><a>Achievements &amp;
                                                Milestones</a></li>
                                        <li  class="menu__item a-day-at-apollo"><a>A Day at SPS</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li  class="menu__item menu__item--expanded find-hospital"><span
                                 class="hospitals-menu">Find Hospital</span>
                            <ul  class="menu level-1">
                                <li 
                                    class="menu__item menu__item--expanded hospitals-in-india"><span
                                         
                                        >Hospitals in India</span>
                                    <ul  class="menu level-2">
                                        <li  class="menu__item ahmedabad"><a>Ahmedabad</a></li>
                                        <li  class="menu__item aragonda"><a>Aragonda</a></li>
                                        <li  class="menu__item bhopal"><a>Bhopal</a>
                                        </li>
                                        <li  class="menu__item bangalore"><a>Bangalore</a></li>
                                        <li  class="menu__item bhubaneshwar"><a>Bhubaneshwar</a></li>
                                        <li  class="menu__item bilaspur"><a>Bilaspur</a></li>
                                        <li  class="menu__item chennai"><a>Chennai</a></li>
                                        <li  class="menu__item delhi"><a>Delhi</a></li>
                                        <li  class="menu__item guwahati"><a>Guwahati</a></li>
                                        <li  class="menu__item hyderabad"><a>Hyderabad</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li  class="menu__item menu__item--expanded medical-services"><span
                                >Medical Services</span>
                            <ul  class="menu level-1">
                                <li 
                                    class="menu__item menu__item--expanded centres-of-excellence--specialties"><span
                                         class="show-main regional-item">Centres of
                                        Excellence &amp; Specialties</span>
                                    <ul  class="menu level-2">
                                        <li  class="menu__item cardiac-sciences"><a>Cardiac Sciences</a></li>
                                        <li  class="menu__item oncology"><a>Oncology</a></li>
                                        <li  class="menu__item neurosciences"><a>Neurosciences</a></li>
                                        <li  class="menu__item gastroenterology"><a>Gastroenterology</a></li>
                                        <li  class="menu__item orthopaedics"><a>Orthopaedics</a></li>
                                        <li  class="menu__item urology"><a>Urology</a></li>
                                        <li  class="menu__item organ-transplantation"><a>Organ Transplantation</a></li>
                                        <li  class="menu__item pulmonology"><a>Pulmonology</a></li>
                                        <li  class="menu__item obtestrics--gynaecology"><a>Obtestrics &amp;
                                                Gynaecology</a></li>
                                        <li  class="menu__item internal-medicine"><a>Internal Medicine</a></li>
                                    </ul>
                                </li>
                                <li 
                                    class="menu__item menu__item--expanded international-patient-services"><span
                                        >International Patient Services</span>
                                    <ul  class="menu level-2">
                                        <li  class="menu__item locations"><a>Locations</a>
                                        </li>
                                        <li  class="menu__item visa--immigration-services">
                                            <a>Visa
                                                &amp; Immigration Services</a></li>
                                        <li  class="menu__item get-a-free-cost-estimate"><a>Get
                                                a free cost estimate</a></li>
                                    </ul>
                                </li>
                                <li  class="menu__item pay-online"><a
                                         >Pay
                                        Online</a></li>
                            </ul>
                        </li>
                        <li  class="menu__item menu__item--expanded health-library"><span
                                >Health Library</span>
                            <ul  class="menu level-1">
                                <li class="menu__item menu__item--expanded international-patient-services">
          <span>International Patient Services</span></li>
                                <li 
                                    class="menu__item menu__item--expanded diseases-and-conditions"><a
                                        >Diseases and Conditions</a>
                                    <ul  class="menu level-2">
                                        <li 
                                            class="menu__item amyotrophic-lateral-sclerosis-als"><a>Amyotrophic
                                                Lateral Sclerosis (ALS)</a></li>
                                        <li  class="menu__item bone-marrow-transplant"><a>Bone Marrow Transplant</a>
                                        </li>
                                        <li  class="menu__item brain-cancer"><a>Brain Cancer</a></li>
                                        <li  class="menu__item breast-cancer"><a>Breast Cancer</a></li>
                                        <li  class="menu__item chronic-kidney-disease-ckd"><a>Chronic Kidney Disease
                                                (CKD)</a></li>
                                        <li  class="menu__item colorectal-cancer"><a>Colorectal Cancer</a>
                                        </li>
                                        <li  class="menu__item coronary-artery-disease"><a>Coronary
                                                Artery Disease</a></li>
                                        <li  class="menu__item diabetes-mellitus"><a
                                                
                                                >Diabetes
                                                Mellitus</a></li>
                                        <li  class="menu__item epilepsy"><a
                                                
                                                >Epilepsy</a></li>
                                        <li 
                                            class="menu__item hypertension-high-blood-pressure"><a
                                                
                                               >Hypertension (High Blood
                                                Pressure)</a></li>
                                    </ul>
                                </li>
                                <li 
                                    class="menu__item menu__item--expanded health-technology"><span
                                        >Health Technology</span>
                                    <ul  class="menu level-2">
                                        <li  class="menu__item davinci-xi-robotic-systems">
                                            <a 
                                                >DaVinci XI-Robotic Systems</a>
                                        </li>
                                        <li  class="menu__item cyberknife-accuray"><a
                                                
                                                >CyberKnife-Accuray</a></li>
                                        <li  class="menu__item meril-cuvis-robotics"><a
                                                
                                               >Meril Cuvis Robotics</a></li>
                                        <li  class="menu__item cori-by-smith--nephew"><a
                                                
                                                >Cori by Smith &amp; Nephew</a>
                                        </li>
                                        <li  class="menu__item stryker-by-mako"><a
                                                
                                               >Stryker by Mako</a></li>
                                        <li  class="menu__item _d-neuro-navigation-system">
                                            <a 
                                                >3D Neuro-navigation System</a>
                                        </li>
                                        <li  class="menu__item _-tesla-mri"><a
                                                
                                                >3 TESLA MRI</a></li>
                                        <li  class="menu__item linac"><a
                                                
                                                >LINAC</a></li>
                                        <li  class="menu__item ecmo"><a
                                                
                                                >ECMO</a></li>
                                    </ul>
                                </li>
                                <li  class="menu__item apollo-education"><a
                                        >SPS Education</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Mneu End-->

<!--Footer bottom start-->
<div class="container-fluid p-0">
    <div class="footer-copyright">

        <div class="footer-copyright__wrapper container">
            <p class="footer-copyright__text">
                © 2025 SPS Hospitals. All rights reserved.
            </p>

            <div id="block-apollo-footercopyrightmenu" data-component-id="apollo:footer-menu" class="footer-menu-item">


                <ul class="menu">
                    <li class="menu__item">
                        <a href="/health-library/privacy-policy" data-drupal-link-system-path="node/42192">Privacy
                            Policy</a>
                    </li>
                    <li class="menu__item">
                        <a href="/terms" data-drupal-link-system-path="node/774">Terms of Service</a>
                    </li>
                </ul>


            </div>

        </div>

    </div>
</div>
<!--Footer Bottom end-->