
<!--Footer bottom start-->
<div class="container-fluid p-0">
    <div class="footer-copyright">

        <div class="footer-copyright__wrapper container">
            <p class="footer-copyright__text">
                © 2025 SPS Hospitals. All rights reserved.
            </p>

            <div id="block-apollo-footercopyrightmenu" data-component-id="apollo:footer-menu" class="footer-menu-item">


                <ul class="menu">
                    <li class="menu__item">
                        <a>Privacy
                            Policy</a>
                    </li>
                    <li class="menu__item">
                        <a>Terms of Service</a>
                    </li>
                </ul>


            </div>

        </div>

    </div>
</div>
<!--Footer Bottom end-->