<div class="container-fluid adminbg">
<div class="container admincontent py-3">
    <div class="form__bg_wrp"><h3>Doctor Masters</h3></div>
    <div class="form__bg_wrp"><h6>Kindly enter your appointment details</h6></div>
    <div class="row">
        <div class="col-md-4">
            <label class="form-label">Name</label>
            <input class="form-control" type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label">Experience</label>
            <input class="form-control" type="text">
        </div>
        <div class="col-md-4">
            <label class="form-label">Language Known</label>
            <select class="form-control">
                <option>Tamil</option>
                <option>English</option>
                <option>French</option>
                <option>Hindi</option>
            </select>
        </div>        
        <div class="col-md-4">
            <label class="form-label">Email address</label>
            <input class="form-control" type="text">
        </div>

        <div class="col-md-4">
            <label class="form-label">Mobile Number</label>
            <input class="form-control" type="text">
        </div>
        

              <div class="col-md-4">
                <label for="select1" class="form-label">Appointment Days</label>
                <div class="row pos-relative">
                  <div class="col-6">                   
                    <select class="form-select" id="select1">
                      <option selected>From...</option>
                      <option>Monday</option>
                        <option>Tuesday</option>
                        <option>Wednesday</option>
                        <option>Thursday</option>
                        <option>Friday</option>
                        <option>Saturday</option>
                        <option>Sunday</option>
                    </select>
                  </div>
                  <div class="dash">-</div>
                  <div class="col-6">                  
                    <select class="form-select" id="select2">
                      <option selected>To...</option>
                      <option>Monday</option>
                        <option>Tuesday</option>
                        <option>Wednesday</option>
                        <option>Thursday</option>
                        <option>Friday</option>
                        <option>Saturday</option>
                        <option>Sunday</option>
                    </select>
                  </div>
                </div>
              </div>
           
          

    </div>
</div>
</div>