/* You can add global styles to this file, and also import other style files */
.form-control{
    margin-bottom: 1.2em;    
}

.form-control:focus{
    box-shadow: none;
}

.form-label {
    margin-bottom: .2rem;
}

.pos-relative{
    position: relative;
}

.admincontent{
    height: calc(100vh - 90px);
    overflow-y: auto;
    overflow-x: hidden;
}

.adminbg{
    background: #eefbff;
}

.form-select:focus {
    border-color: #86b7fe;
    outline:none;
    box-shadow: none;
}